.banner{     
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999999;
}
    img{z-index: 1000;}


    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px 0px 10px 0px;
        z-index: 9999999;
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px; 
    min-height: 360px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: linear-gradient(to left, #dbe6d8, #E6E6FA);
    justify-content: space-evenly;
    z-index: 9999999;
}

input[type=number], input[type=text] {
    height: 36px;
    padding-left: 10px; 
    border-radius: 5px;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff;
    z-index: 9999999;
}

select:hover{
    cursor: pointer;

}

input[type=button]{
    width: 140px;
    padding: 10px 0;
    margin: 10px 90px 10px 0px;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

input[type=button]:hover{
    background-color: #0a649c;
    cursor: pointer;
}

select{
    padding: 10px 0;
    border-radius: 5px; 
    border: none;
    background: #FF8000; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.container-Two{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px; 
    min-height: 160px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: linear-gradient(to bottom, #dbe6d8, #E6E6FA);
    justify-content: space-evenly;
    z-index: 9999999;
}

label{
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
font-size: 30px;
}

.custom-shape-divider-top-1678661930 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678661930 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 155px;
}

.custom-shape-divider-top-1678661930 .shape-fill {
    fill: #FF8000;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    font-family: 'Exo', sans-serif;
    background: -webkit-linear-gradient(0.25turn, #1F3960, #2FF3E0);  
    width: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1
    ;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}